---
name: Static Sidebar
description: Static Sidebar section
variables:
    navigation:
        - data
---

<div class="hidden lg:flex lg:flex-shrink-0">
    <div class="flex flex-col w-64">
        <div class="flex flex-col flex-grow bg-light-blue-500 dark:bg-black pt-5 pb-4 overflow-y-auto">
            <div class="flex items-center flex-shrink-0 px-4">
                <img class="h-20 w-auto -mt-4 block dark:hidden" src="/assets/images/logo/Dev Generator Logo.png" alt="Dev Generator logo">
                <img class="h-20 w-auto -mt-4 hidden dark:block" src="/assets/images/logo/Dev Generator Logo White.png" alt="Dev Generator logo">
            </div>
            <nav class="mt-5 flex-1 flex flex-col divide-y divide-gray-800 dark:divide-gray-100 overflow-y-auto" aria-label="Sidebar">
                {% render "sidebar/menu", navigation: navigation %}
            </nav>
        </div>
    </div>
</div>