---
layout: default
---
<div>
    <div class="bg-gray-100 dark:bg-gray-900">
        <div class="max-w-screen-xl mx-auto py-16 px-4 sm:py-24 sm:px-6 lg:px-8">
            <div class="text-center">
                <h1 class="text-base leading-6 font-semibold text-purple-700 tracking-wide uppercase">
                    {{ page.title }}
                </h1>
                <p class="mt-1 text-4xl leading-10 font-extrabold text-gray-900 dark:text-gray-50 sm:text-5xl sm:leading-none sm:tracking-tight lg:text-6xl">
                    {{ page.subtitle }}
                </p>
                <p class="max-w-xl mt-5 mx-auto text-xl leading-7 text-gray-500 dark:text-gray-300">
                    {{ page.details }}
                </p>
            </div>
        </div>
    </div>
    <div class="min-w-0 w-full flex-auto lg:static lg:max-h-full lg:overflow-visible">
        <div class="max-w-5xl mx-auto px-4 sm:px-6 lg:px-8 pt-8 prose prose-purple dark:prose-dark line-numbers">
            {{ content }}
        </div>
    </div>
</div>