---
name: Generator Card
description: Generator Card Section
variables:
    items:
        - data
    labels:
        - data
---

<div class="divide-y divide-gray-200 lg:grid lg:grid-cols-12 lg:divide-y-0 lg:divide-x"
    data-controller="tabs" data-tabs-active-tab="bg-purple-50 border-purple-500 text-purple-700 hover:bg-purple-50 hover:text-purple-700"
    data-tabs-inactive-tab="mt-1 border-transparent text-gray-900 hover:bg-gray-50 hover:text-gray-900 dark:text-gray-50 dark:hover:bg-gray-600 dark:hover:text-gray-50"
    data-tabs-active-tab-icon="text-purple-500 group-hover:text-purple-500"
    data-tabs-inactive-tab-icon="text-gray-400 group-hover:text-gray-500 dark:text-gray-50 dark:group-hover:text-gray-50">
    <aside class="py-6 lg:col-span-3">
        <nav>
            {% for navItem in items %}
                {% render "generators/tab", title: navItem.title, icon: navItem.icon, id: navItem.uniqueName, first: forloop.first %}
            {% endfor %}
        </nav>
    </aside>

    <div class="lg:col-span-9">
        {% for item in items %}
            {% render "generators/panel", title: item.title, id: item.uniqueName, details: item.details, fields: item.fields, first: forloop.first, last: forloop.last, index: forloop.index0, labels: labels %}
        {% endfor %}
    </div>
</div>