/* purgecss start ignore */
@import "tailwindcss/base";

/* purgecss end ignore */

.generator {

  .line-numbers .line-numbers-rows {
    left: -30.5rem !important;
  }

  pre {
    padding-bottom: 0 !important;
    padding-left: 4rem !important;
    padding-right: 0 !important;
    padding-top: 5px !important;
  }
}

.documentation {

  dt {
    @apply mt-4;
  }

  dd {
    @apply ml-2;
  }
}

@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url("https://rsms.me/inter/inter.css");
@import "prismjs/themes/prism";
@import "prismjs/themes/prism-tomorrow";
