---
name: Core Field Structure
description: Core Field Structure Section
variables:
    name:
        - string
    uniqueName:
        - string
    required:
        - boolean
    defaultValue:
        - string
    fieldType:
        - string
    extraDetails:
        - string
    fieldSize:
        - string
    gridSize:
        - string
    fields:
        - data
---

<div id="{{ uniqueName }}-group" class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
    <div class="flex mt-2">
        {% render "forms/switch", required: required, id: uniqueName %}
        <label class="block text-sm font-medium text-gray-700 dark:text-gray-50 ml-2 mt-0.5">
            {{ name }}
        </label>
    </div>
    <div class="mt-1 sm:mt-0 sm:col-span-2">
        <div class="max-w-lg flex">
            {% if fieldType == "text" %}
                {% render "forms/fields/input_text", uniqueName: uniqueName, defaultValue: defaultValue %}
            {% elsif fieldType == "textarea" %}
                {% render "forms/fields/input_textarea", uniqueName: uniqueName, defaultValue: defaultValue %}
            {% elsif fieldType == "checkbox" %}
                {% render "forms/fields/input_checkbox", uniqueName: uniqueName, defaultValue: defaultValue, extraDetails: extraDetails %}
            {% elsif fieldType == "multipleColumn" %}
                {% render "forms/fields/multi_column", uniqueName: uniqueName, fieldSize: fieldSize, gridSize: gridSize, fields: fields %}
            {% endif %}
        </div>
    </div>
</div>