---
name: Switch
description: Switch Section
variables:
    required:
        - boolean
        - use "true" or "false" to indicate on/off
---

{% if required %}
    {% assign isRequired = "false" %}
{% else %}
    {% assign isRequired = "true" %}
{% endif %}

<button data-controller="switch" data-action="click->switch#toggle" data-switch-active-class="translate-x-5"
        data-switch-entering-class="ease-out duration-100" data-switch-leaving-class="ease-in duration-200"
        data-switch-enter-timeout="100" data-switch-leave-timeout="75" data-switch-on="{{ isRequired }}"
        data-switch-invisible-class="opacity-0" data-switch-visible-class="opacity-100" type="button"
        class="bg-gray-200 relative inline-flex flex-shrink-0 h-6 w-11 border-2 border-transparent rounded-full cursor-pointer transition-colors ease-in-out duration-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-white dark:focus:ring-offset-gray-800 focus:ring-purple-500">
    <span class="sr-only">Toggle Field on/off</span>
    <span data-target="switch.toggle" class="translate-x-0 relative inline-block h-5 w-5 rounded-full bg-white shadow transform ring-0 transition ease-in-out duration-200">
        <span data-target="switch.offIcon" class="opacity-100 ease-in duration-200 absolute inset-0 h-full w-full flex items-center justify-center transition-opacity" aria-hidden="true">
            {% svg "/assets/images/heroicons/outline/x.svg", class="h-3 w-3 text-red-600" %}
        </span>
        <span data-target="switch.onIcon" class="opacity-0 ease-out duration-100 absolute inset-0 h-full w-full flex items-center justify-center transition-opacity" aria-hidden="true">
            {% svg "/assets/images/heroicons/outline/check.svg", class="h-3 w-3 text-green-600" %}
        </span>
    </span>
</button>
