---
name: Header
description: Header section
---

<header class="sticky top-0 z-10 flex-shrink-0 flex h-16 bg-white dark:bg-black border-b border-l border-gray-200 dark:border-gray-700">
    <button data-action="click->mobile#toggle" class="px-4 border-r border-gray-200 text-gray-400 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-cyan-500 lg:hidden">
        <span class="sr-only">Open sidebar</span>
        {% render "icons/menu_alt_1", classNames: "h-6 w-6" %}
    </button>

    <div class="flex-1 px-4 flex justify-between sm:px-6 lg:max-w-6xl lg:mx-auto lg:px-8">
        <div class="flex-1 flex"></div>
        <div class="ml-4 flex items-center md:ml-6">
            <button data-controller="switch" data-action="click->switch#toggle" data-switch-active-class="translate-x-7"
                    data-switch-entering-class="ease-out duration-150" data-switch-leaving-class="ease-in duration-100"
                    data-switch-enter-timeout="100" data-switch-leave-timeout="75" data-switch-on="true"
                    data-switch-invisible-class="opacity-0" data-switch-visible-class="opacity-100"
                    type="button" aria-pressed="false" id="toggle-dark-mode-btn" class="relative inline-flex flex-shrink-0 h-7 w-14 border-2 border-transparent rounded-full cursor-pointer transition-colors ease-in-out duration-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-purple-700">
                <span class="sr-only">Toggle Dark Mode On/Off</span>
                <span data-target="switch.toggle" class="relative inline-block h-6 w-6 rounded-full bg-gray-50 shadow transform ring-0 transition ease-in-out duration-200">
                    <span data-target="switch.offIcon" class="absolute inset-0 h-full w-full flex items-center justify-center transition-opacity" aria-hidden="true">
                        {% render "icons/sun", classNames: "h-5 w-5 text-yellow-600" %}
                    </span>
                    <span data-target="switch.onIcon" class="absolute inset-0 h-full w-full flex items-center justify-center transition-opacity" aria-hidden="true">
                        {% render "icons/moon", classNames: "h-5 w-5 text-black" %}
                    </span>
                </span>
            </button>

        </div>
    </div>
</header>